VITE_KEYCLOAK_JSON={"realm":"Local","auth-server-url":"http://localhost:8080/auth/","ssl-required":"external","resource":"controle-estoque-emprestimos-front","public-client":true,"confidential-port":0}
VITE_API_URL=http://localhost:3000/controle-estoque-emprestimos/api
VITE_BASE_URL=/controle-estoque-emprestimos
